parameters:
	ignoreErrors:
		-
			message: "#^Cannot call method getId\\(\\) on Pimcore\\\\Model\\\\DataObject\\\\Classificationstore\\\\GroupConfig\\|null\\.$#"
			count: 1
			path: src/Helper/ClassificationstoreHelper.php

		-
			message: "#^Method Neusta\\\\Pimcore\\\\FixtureBundle\\\\Helper\\\\ClassificationstoreHelper\\:\\:createNewEntriesForClassificationValues\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Helper/ClassificationstoreHelper.php

		-
			message: "#^Parameter \\#1 \\$definition of method Pimcore\\\\Model\\\\DataObject\\\\Classificationstore\\\\KeyConfig\\:\\:setDefinition\\(\\) expects string, string\\|false given\\.$#"
			count: 1
			path: src/Helper/ClassificationstoreHelper.php

		-
			message: "#^Parameter \\#1 \\$keyConfigId of static method Neusta\\\\Pimcore\\\\FixtureBundle\\\\Helper\\\\ClassificationstoreHelper\\:\\:createKeyGroupRelation\\(\\) expects int, int\\|null given\\.$#"
			count: 1
			path: src/Helper/ClassificationstoreHelper.php

		-
			message: "#^Parameter \\#2 \\$groupConfigId of static method Neusta\\\\Pimcore\\\\FixtureBundle\\\\Helper\\\\ClassificationstoreHelper\\:\\:createKeyGroupRelation\\(\\) expects int, int\\|null given\\.$#"
			count: 1
			path: src/Helper/ClassificationstoreHelper.php

		-
			message: "#^Parameter \\#3 \\$storeId of static method Neusta\\\\Pimcore\\\\FixtureBundle\\\\Helper\\\\ClassificationstoreHelper\\:\\:createGroupConfig\\(\\) expects int, int\\|null given\\.$#"
			count: 1
			path: src/Helper/ClassificationstoreHelper.php

		-
			message: "#^Parameter \\#4 \\$storeId of static method Neusta\\\\Pimcore\\\\FixtureBundle\\\\Helper\\\\ClassificationstoreHelper\\:\\:createKeyConfig\\(\\) expects int, int\\|null given\\.$#"
			count: 1
			path: src/Helper/ClassificationstoreHelper.php
