services:
  _defaults:
    autowire: true
    autoconfigure: true
    bind:
      $allFixtures: !tagged_iterator neusta_pimcore_fixture.fixture

  Neusta\Pimcore\FixtureBundle\Command\:
    resource: '../src/Command/*'

  Neusta\Pimcore\FixtureBundle\EventListener\:
    resource: '../src/EventListener/*'

  Neusta\Pimcore\FixtureBundle\Executor\:
    resource: '../src/Executor/*'

  Neusta\Pimcore\FixtureBundle\FixtureLoader\:
    resource: '../src/FixtureLoader/*'

  Neusta\Pimcore\FixtureBundle\Helper\AssetHelper:
    arguments:
      $prefix: !abstract defined in extension

  Neusta\Pimcore\FixtureBundle\Helper\DataObjectHelper:
    arguments:
      $prefix: !abstract defined in extension

  Neusta\Pimcore\FixtureBundle\Helper\DocumentHelper:
    arguments:
      $prefix: !abstract defined in extension

  Neusta\Pimcore\FixtureBundle\Locator\:
    resource: '../src/Locator/*'

  Neusta\Pimcore\FixtureBundle\FixtureLoader\FixtureLoader:
    arguments:
      $fixtureLocator: '@Neusta\Pimcore\FixtureBundle\Locator\AllFixturesLocator'

  Neusta\Pimcore\FixtureBundle\FixtureLoader\SelectiveFixtureLoader:
    arguments:
      $fixtureLocator: '@Neusta\Pimcore\FixtureBundle\Locator\NamedFixtureLocator'
    public: true

  Neusta\Pimcore\FixtureBundle\ReferenceRepository\:
    resource: '../src/ReferenceRepository/*'

  Neusta\Pimcore\FixtureBundle\Profiler\:
    resource: '../src/Profiler/*'
